<form action="/insert" method="get">
	<fieldset> 
	<h1> Enter a Workout </legend> 
	
	<label>Name</label>
        <br/> 
	<input type="text" name="name"/>
        <br/> 
        <br/> 

	<label>Reps</label>
        <br/> 
	<input type="number" name="reps"/>
        <br/> 
        <br/> 

	<label>Weight</label>
	<br/> 
	<input type="number" name="weight"/>
        <br/> 
        <br/> 

	<label>Date</label>
	<br/> 
	<input type="date" name="date"/>
        <br/> 
        <br/> 
	<input type="submit" id="initialSubmit"/>
	</fieldset>
</form>
	
